@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,opsz,wght@0,8..144,700;1,8..144,100&family=Roboto:wght@400;700&display=swap');




* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 
}

  header {
  background-color: #252525;
  height: 15vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

  header div {
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

  header div .imgPata {
  height: 7vh;
}

  h1 {
  color: #ffffff;
  font-size: 2rem;
  font-family: 'Roboto Serif', serif;
  font-weight: bold;
}

  header nav {
  width: 20%;
  display: flex;
  justify-content: space-evenly;
}

  .instagram {
  height: 5vh;
}

  .youtube {
  height: 5vh;
}

  .whatsapp {
  height: 5vh;
}

  a:hover button {
  transform: scale(120%);
 }

  a {
  text-decoration: none;
}



  .primeirafesteiro {
  background-image: url("imagens/cao1.png");
  height: 140vh;
  width: 100%;
  background-repeat: no-repeat;
  background-size: 100% 140vh;
  display: flex;   
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
  
  .primeirafesteiro div {
  width: 60%;
}
  
  h2 {
  width: 85%;
  color: #ffffff;
  font-size: 4rem;
  font-weight: 900;
  text-align: center;
  position: relative;
  margin-left: 3%;
  bottom: 9%;
  font-family: 'Roboto Serif', serif;
  font-weight: bold;
}
  
  .primeirafesteiro img{
  width: 10.5vw;
  position: relative;
  margin-left: 41%;
  margin-bottom: 30%; 
}


  .segundaLeao {
  background-image: url("imagens/cao2.png");
  height: 150vh;
  width: 100%;
  background-repeat: no-repeat;
  background-size: 100% 150vh;
  display: flex;
  align-items: center;
}

  .segundaLeao div {
  width: 40%;
  margin-left: 4%;
  
}

  .segundaLeao h3 {
  font-size: 3.5rem;
  width: 100%;
  color: #3a342f;
  font-family: 'Roboto Serif', serif;
  font-weight: bold;
 
}

  .segundaLeao p {
  font-size: 2rem;
  color: #3a342f;
  margin: 3% 0 6% 0;
  font-family: "Roboto", sans-serif;
}

  .segundaLeao button {
  width: 50%;
  height: 12vh;
  font-size: 1.6rem;
  border-radius: 44px;
  background-color: #3a342f;
  color: #f4f2f3;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
}

  .terceiramordomia {
  background-image: url("imagens/cao3.png");
  height: 140vh;
  width: 100%;
  background-repeat: no-repeat;
  background-size: 100% 140vh;
  display: flex;
  align-items: center;
  justify-content: end;
}
  
  .terceiramordomia div {
  width: 49%;
  height: 100vh;
  margin-right: 10%;
  padding-left: 13%;
}
  
  .terceiramordomia h3 {
  font-size: 3.5rem;
  color: #FFFFFF;
  font-family: 'Roboto Serif', serif;
  font-weight: bold;
}
  
  .terceiramordomia p {
  font-size: 2rem;
  color: #FFFFFF;
  margin: 3% 0 6% 0;
  font-family: "Roboto", sans-serif;
}
  .terceiramordomia button {
  width: 50%;
  height: 12vh;
  font-size: 1.6rem;
  border-radius: 44px;
  background-color: #FFFFFF;
  color: #000000;
  border-color: #ffffff;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
}
 
 .apoiomobpat {
  display: none;
}

 .apoio {
  width: 100%;
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
  
 .apoio img {
  margin-left: 10%;
}
  
 .havaianas {
  width: 15vw;
  height: 5vh;
  margin-left: 10%;
}

 .americanas {
  width: 12vw;
  height:4vh;
  margin-left: 10%;
}

  .apoio h4 {
  color: #fd6a9a;
  font-size: 2rem;
  font-style: italic;
  font-family: 'Roboto Serif', serif;
}
  
  .apoiomobile {
  display: none;
}
  
  footer {
  background-color: #eb4a7b;
  height: 50vh;
  color: white;
  font-family: 'Roboto Serif', serif;
}

  li{
  list-style: none;
  color: #FFFFFF;
  font-size: 1rem;
  font-family: "Roboto", sans-serif;
  margin-bottom: 6%;
  display: flex;
  justify-content: start;   
}

 .footercontatos{
  width: 70%;
  height: 50vh;
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  align-items: center;
}

 .footer1 h5 {
  color: white;
  width: 13.2vw;
  font-size: 1.5rem;
  margin-bottom: 10%;
  margin-top: 20%;
  font-family: 'Roboto Serif', serif;
  font-weight: bold;
      
}

  .footer2 h5 {
  color: white;
  width: 6.3vw;
  font-size: 1.5rem;
  margin-bottom: 10%;
  margin-top: 20%;
  font-family: 'Roboto Serif', serif;
  font-weight: bold;
      
}

  .footer3 h5 {
  color: white;
  width: 9.7vw;
  font-size: 1.5rem;
  margin-bottom: 10%;
  margin-top: 20%;
  font-family: 'Roboto Serif', serif;
  font-weight: bold;
     
}


@media (max-width: 500px) {
 
  header {
    background-color: #252525;
    height: 20vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  
  header div {
    width: 40%;
    height:10vh ;
    display: flex;
    justify-content: start;
    margin-left: 6%;
  }
  
  header div .imgPata {
    height: 8vh;
  }
  
  h1 {
    color: #ffffff;
    font-size: 1.4rem;
    font-family: 'Roboto Serif', serif;
    font-weight: bold;
    margin-left: 3%;
  }
  
  header nav {
    width: 10%;
    display: flex;
    justify-content: space-evenly;
    margin-right: 1rem;
  }
  
  .instagram {
   display: none;
  }
  
  .youtube {
   display: none;
  }
  
  .whatsapp {
  height: 7vh;
  }
  
  a:hover button {
    transform: scale(100%);
  }
  a {
    text-decoration: none;
  }
  
  
    
  .primeirafesteiro {
    background-image: url("imagens/cão\ 1\ mobile.png");
    height: 150vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: 100% 150vh;
  }
    
  .primeirafesteiro div {
    width: 80%;
    margin-bottom: 50%;
  }
    
  h2 {
    width: 94%;
    color: #ffffff;
    font-size: 2.4rem;
    font-family: 'Roboto Serif', serif;
    font-weight: bold;
    margin-top: 10%;
  }
    
  .primeirafesteiro img{
    width: 20%;
    bottom: 60%;
  }
    
  .segundaLeao {
    background-image: url("imagens/cão\ 2\ mobile.png");
    height: 170vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: 100% 170vh;
  }
  
  .segundaLeao div {
    height: 70vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-bottom: 80%;
    padding-left: 10%;

  }
  
  .segundaLeao h3 {
    font-size: 2rem;
    width: 80%;
    color: #3a342f;
    font-family: 'Roboto Serif', serif;
    font-weight: bold;
    margin-top: 5%;
  }
  
  .segundaLeao p {
    font-size: 1.2rem;
    color: #3a342f;
    width: 85%;
    font-family: "Roboto", sans-serif;
  }
  
  .segundaLeao button {
    width: 35%;
    height: 10vh;
    font-size: 1rem;
    border-radius: 44px;
    background-color: #3a342f;
    color: #f4f2f3;
    font-weight: bold;
    font-family: "Roboto", sans-serif;
  }

    
  .terceiramordomia {
    background-image: url("imagens/cão\ 3\ mobile.png");
    height: 170vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: 100% 170vh;
  }
    
  .terceiramordomia div {
    height: 70vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-bottom: 80%;  
  }
    
  .terceiramordomia h3 {
    font-size: 2rem;
    width: 90%;
    color: #FFFFFF;
    font-family: 'Roboto Serif', serif;
    font-weight: bold;
    margin-top: 10%;
  }
    
  .terceiramordomia p {
    font-size: 1.2rem;
    color: #FFFFFF;
    width: 95%;
    font-family: "Roboto", sans-serif;
    margin-top: 6%;
  }

  .terceiramordomia button {
    width: 40%;
    height: 10vh;
    font-size: 1rem;
    border-radius: 44px;
    background-color: #FFFFFF;
    color: #000000;
    font-weight: bold;
    font-family: "Roboto", sans-serif;
  }
  
  .apoiomobpat {
    height: 35vh;
    color: #fd6a9a;
    display: block;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: center;
  }

  .apatroc {
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: space-evenly;
    align-content: center;
  }

  .apoio {
    display: none;
          
  }

  .havaianas2 {
    width: 25%;
    height: 5vh;
    margin-left: 4%;
  }
  
  .americanas2 {
    width: 20%;
    height:4vh;
    margin-right: 8%;
    margin-top: 1%;
  }
  
    .apoiomobpat h4 {
    color: #fd6a9a;
    font-size: 1rem;
    font-style: italic;
    font-family: 'Roboto Serif', serif;
    text-align: center;
    margin-bottom: 1rem;
  }
    
       
  footer {
    background-color: #eb4a7b;
    height: 180vh;
    color: white;
    font-family: 'Roboto Serif', serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 15%;
  }

  .apoiomobile {
    width: 50%;
    height: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;  
  }

  .mobilefooter {
    width: 90%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  .imgPata2 {
    height: 10vh;
  }

  h6 {
    color: #ffffff;
    font-size: 1.7rem;
    font-family: 'Roboto Serif', serif;
    font-weight: bold;
  }

  .navfooter {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
  }

  .instagram2 {
    height: 6vh; 
  }
      
  .youtube2 {
    height: 6vh;
  }
      
  .whatsapp2 {
    height: 6vh;
  }
   
  ul{
    width: 100%;
    height:20%;
    display: flex;
    justify-content: first baseline;
    flex-direction: column;
    align-items: center;
  }
    
  li{
    width: 100%;
  }

  .footercontatos{
    width: 100%;
    height: 130vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }

  .footer1 h5 {
    color: white;
    height:8vh;
    width: 100%;
    font-size: 1.5rem;
    font-family: 'Roboto Serif', serif;
    font-weight: bold;
    display: flex;   
    justify-content: center; 
  }
  
  .footer2 h5 {
    color: white;
    height:8vh;
    width: 100%;
    font-size: 1.5rem;
    font-family: 'Roboto Serif', serif;
    font-weight: bold;
    display: flex;   
    justify-content: center; 
  }
  
  .footer3 h5 {
    color: white;
    height:8vh;
    width: 100%;
    font-size: 1.5rem;
    font-family: 'Roboto Serif', serif;
    font-weight: bold;
    display: flex;   
    justify-content: center; 
}
}
