@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,opsz,wght@0,8..144,700;1,8..144,100&family=Roboto:wght@400;700&display=swap');




* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 
}

header {
  background-color: #252525;
  height: 15vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header div {
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

header div .imgPata {
  height: 7vh;
}

h1 {
  color: #ffffff;
  font-size: 2rem;
  font-family: 'Roboto Serif', serif;
  font-weight: bold;
}

header nav {
  width: 20%;
  display: flex;
  justify-content: space-evenly;
}

.instagram {
  height: 5vh;
}

.youtube {
  height: 5vh;
}

.whatsapp {
  height: 5vh;
}

a:hover button {
  transform: scale(120%);
}
a {
  text-decoration: none;
}

/*SECTION DA MAIN */

.primeirafesteiro {
  background-image: url("imagens/cao1.png");
  height: 140vh;
  width: 100%;
  background-repeat: no-repeat;
  background-size: 100% 140vh;
  display: flex;   
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
  
  .primeirafesteiro div {
  width: 60%;
    
}
  
  h2 {
  width: 85%;
  color: #ffffff;
  font-size: 4rem;
  font-weight: 900;
  text-align: center;
  position: relative;
  margin-left: 2rem;
  bottom: 45%;
  font-family: 'Roboto Serif', serif;
  font-weight: bold;
      
}
  
  .primeirafesteiro img{
  width: 10.5vw;
  position: relative;
  margin-left: 19.5rem;
  bottom: 7rem;
  margin-bottom: 1rem; 

}


.segundaLeao {
  background-image: url("imagens/cao2.png");
  height: 150vh;
  background-repeat: no-repeat;
  background-size: 100% 150vh;
  display: flex;
  align-items: center;
}

.segundaLeao div {
  width: 40%;
  margin-left: 4rem;
  
}

.segundaLeao h3 {
  font-size: 3.5rem;
  width: 100%;
  color: #3a342f;
  font-weight: 900;
  font-family: 'Roboto Serif', serif;
  font-weight: bold;
 
}

.segundaLeao p {
  font-size: 2rem;
  color: #3a342f;
  margin: 2rem 0 3rem 0;
  font-family: "Roboto", sans-serif;
}

.segundaLeao button {
  width: 50%;
  height: 12vh;
  font-size: 1.6rem;
  border-radius: 44px;
  background-color: #3a342f;
  color: #f4f2f3;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
}

.terceiramordomia {
  background-image: url("imagens/cao3.png");
  height: 140vh;
  background-repeat: no-repeat;
  background-size: 100% 140vh;
  display: flex;
  align-items: center;
  justify-content: end;
}
  
  .terceiramordomia div {
  width: 49%;
  margin-right: 10rem;
  padding-left: 13rem;
}
  
  .terceiramordomia h3 {
  font-size: 3.5rem;
  color: #FFFFFF;
  font-weight: 900;
  padding-right: 10rem;
  font-family: 'Roboto Serif', serif;
  font-weight: bold;
}
  
  .terceiramordomia p {
  font-size: 2rem;
  color: #FFFFFF;
  margin: 2rem 0 3rem 0;
  font-family: "Roboto", sans-serif;

}
  .terceiramordomia button {
  width: 50%;
  height: 12vh;
  font-size: 1.6rem;
  border-radius: 44px;
  background-color: #FFFFFF;
  color: #000000;
  border-color: #ffffff;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
}
 
.apoiomobpat {
  display: none;
 
 
}

  .apoio {
  width: 100%;
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
  
  .apoio img {
  margin-left: 10rem;
}
  
.havaianas {
  width: 15vw;
  height: 5vh;
  margin-left: 10rem;

}

.americanas {
  width: 12vw;
  height:4vh;
  margin-left: 10rem;

}

  .apoio h4 {
  color: #fd6a9a;
  font-size: 2rem;
  font-style: italic;
  font-family: 'Roboto Serif', serif;
    
}
  
  /*footer*/

  .apoiomobile {
  display: none;

  }
  
  footer {
  background-color: #eb4a7b;
  height: 60vh;
  color: white;
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 0 3% 0 3%;
  font-family: 'Roboto Serif', serif;
}
.footer1 {
  margin-left: 2rem;

}
  
.footer2 {
  margin-left: 8rem;
  
}

.footer3 {
  margin-left: 8rem;
    
}
  
li{
width: 10vw;
padding: 3% 0 3% 0;
font-size: 1rem;
color: #FFFFFF;
font-family: "Roboto", sans-serif;
display: flex;
justify-content: start;
align-items: center;
          
}

.footer1 h5 {
  color: white;
  width: 15.6vw;
  font-size: 2rem;
  margin-bottom: 2rem;
  font-family: 'Roboto Serif', serif;
  font-weight: bold;
      
}

  .footer2 h5 {
  color: white;
  width: 7.5vw;
  font-size: 2rem;
  margin-bottom: 2rem;
  font-family: 'Roboto Serif', serif;
  font-weight: bold;
      
}

  .footer3 h5 {
  color: white;
  width: 11.5vw;
  font-size: 2rem;
  margin-bottom: 2rem;
  font-family: 'Roboto Serif', serif;
  font-weight: bold;
     
}

/* Responsivo Mobile */

@media (max-width: 500px) {
 
  header {
    background-color: #252525;
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  header div {
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
  
  header div .imgPata {
    height: 8vh;
    margin-left: 15%;
  }
  
  h1 {
    color: #ffffff;
    font-size: 1.4rem;
    font-family: 'Roboto Serif', serif;
    font-weight: bold;
   
  }
  
  header nav {
    width: 20%;
    display: flex;
    justify-content: space-evenly;
  }
  
  .instagram {
   display: none;
  }
  
  .youtube {
   display: none;
  }
  
  .whatsapp {
  height: 7vh;
  }
  
  a:hover button {
    transform: scale(100%);
  }
  a {
    text-decoration: none;
  }
  
  /*SECTION DA MAIN */
  
  .primeirafesteiro {
    background-image: url("imagens/cão\ 1\ mobile.png");
    height: 140vh;
    width: 100vw;
    background-repeat: no-repeat;
    background-size: 100% 140vh;
   
  }
    
    .primeirafesteiro div {
    width: 100%;
    height: 100%;
    display: flex;   
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
      
  }
    
    h2 {
    width: 80%;
    color: #ffffff;
    font-size: 2.5rem;
    bottom: 10.5rem;
    font-family: 'Roboto Serif', serif;
    font-weight: bold;
    margin-right: 6%;
        
  }
    
    .primeirafesteiro img{
    width: 22vw;
    position: relative;
    margin-right: 19rem;
    bottom: 8rem;
  
  }
  
  
  .segundaLeao {
    background-image: url("imagens/cão\ 2\ mobile.png");
    height: 170vh;
    background-repeat: no-repeat;
    background-size: 100% 170vh;
   
  }
  
  .segundaLeao div {
    height: 50vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-bottom: 25rem;
  }
  
  .segundaLeao h3 {
    font-size: 2rem;
    width: 60vw;
    color: #3a342f;
    font-weight: 900;
    font-family: 'Roboto Serif', serif;
    font-weight: bold;
      
  }
  
  .segundaLeao p {
    font-size: 1rem;
    color: #3a342f;
    width: 59vw;
    font-family: "Roboto", sans-serif;
  }
  
  .segundaLeao button {
    width: 35%;
    height: 10vh;
    font-size: 1.1rem;
    border-radius: 44px;
    background-color: #3a342f;
    color: #f4f2f3;
    font-weight: bold;
    font-family: "Roboto", sans-serif;
    
  }

    
  .terceiramordomia {
    background-image: url("imagens/cão\ 3\ mobile.png");
    height: 170vh;
    background-repeat: no-repeat;
    background-size: 100% 170vh;
    
    
  }
    
    .terceiramordomia div {
      height: 50vh;
      width: 100vw;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      margin-bottom: 24rem;
  }
    
    .terceiramordomia h3 {
    font-size: 2rem;
    width: 100vw;
    color: #FFFFFF;
    font-weight: 900;
    font-family: 'Roboto Serif', serif;
    font-weight: bold;
    margin-right: 15%;
  }
    
    .terceiramordomia p {
    font-size: 1rem;
    color: #FFFFFF;
    width: 59vw;
    font-family: "Roboto", sans-serif;
    
  }
    .terceiramordomia button {
    width: 50%;
    height: 9vh;
    font-size: 1.1rem;
    border-radius: 44px;
    background-color: #FFFFFF;
    color: #000000;
    font-weight: bold;
    font-family: "Roboto", sans-serif;
    margin-left: 1rem;
        
  }
  
    .apoiomobpat {
      height: 35vh;
      color: #fd6a9a;
      display: block;
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-content: center;
    }

    .apatroc {
      display: flex;
      justify-content: space-evenly;
      align-content: center;

    }

      .apoio {
        display: none;
          
      }


  .havaianas2 {
    width: 20vw;
    height: 6vh;
    margin-left: 4rem;
  
  }
  
  .americanas2 {
    width: 16vw;
    height:5vh;
    margin-right: 5rem;
    margin-top: 0.2rem;
  }
  
    .apoiomobpat h4 {
    color: #fd6a9a;
    font-size: 1rem;
    font-style: italic;
    font-family: 'Roboto Serif', serif;
    text-align: center;
    margin-bottom: 1rem;
      
  }
    
    /*footer*/
    
    footer {
    background-color: #eb4a7b;
    height: 160vh;
    color: white;
    font-family: 'Roboto Serif', serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    }

    .apoiomobile {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 1rem;
    
      }

  .mobilefooter {
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: center;

      }

      .imgPata2 {
        height: 10vh;
        margin-bottom: 2rem;
        margin-right: 0.5rem;
      }

      h6 {
        color: #ffffff;
        font-size: 2rem;
        font-family: 'Roboto Serif', serif;
        font-weight: bold;
        margin-bottom: 2rem;
        
      }

      .navfooter {
      margin-bottom: 2rem;
      width: 100%;
      display: flex;
      justify-content: space-evenly;
  
      }


      .instagram2 {
        height: 6vh;
      }
      
      .youtube2 {
        height: 6vh;
      }
      
      .whatsapp2 {
        height: 6vh;
      }

   
  ul{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-right: 1rem;

  }

  .footer1 {
    margin-left: 1rem;
    padding-bottom: 2rem;
    
     }
    
  .footer2 {
    margin-left: 1rem;
    padding-bottom: 2rem;
  }
  
  .footer3 {
    margin-left: 1rem;
    
  }
    
  li{
  width: 30vw;
  display: flex;   
  justify-content: center; 
    
  }
  
  .footer1 h5 {
    color: white;
    height: 0.5vh;
    font-size: 1.2rem;
    font-family: 'Roboto Serif', serif;
    font-weight: bold;
    display: flex;   
    justify-content: center; 
    margin-left: 2.2rem;
        
  }
  
    .footer2 h5 {
    color: white;
    height: 0.5vh;
    font-size: 1.2rem;
    font-family: 'Roboto Serif', serif;
    font-weight: bold;
    display: flex;   
    justify-content: center; 
    margin-left: 3.5rem;
        
  }
  
    .footer3 h5 {
    color: white;
    height: 0.5vh;
    font-size: 1.2rem;
    font-family: 'Roboto Serif', serif;
    font-weight: bold;
    display: flex;   
    justify-content: center; 
    margin-left: 2.9rem;
       
  }
}


